<div class="search-block">
    {{!-- <input type="text" id="navbar-search-input" placeholder="Search...">
    <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button> --}}
    <div class="icon search-box">
        <input class="search-input" type="text" placeholder="Search..." id="search-bar">
        <i class="fas fa-search search-icon"></i>
    </div>
</div>