<main class="home-page">
  <div class="title-container">
    {{!-- <h1>Introduction:</h1> --}}
    <h2>Game Rule:</h2>
      <p>You will have 5 members in a team, and everyone has different position.
        A list of position: Top laner, mid laner, jungle, adc, support.
        You will need to power your champison by earning experiences and gold.
        Once you have enough gold, you can purchase items from shop.
        The goal for this game is to destory the enemy's base in order to win.
      </p>
      <div class="home-image-block">
        <img class="home-image" src="images/intro.png">
      </div>
    

  </div>
</main>
